
body {
    background-image: url(https://poonawallafincorp.com/pfca/assets/blog_banner/blog_banner-pl-technology-desktop.jpg);
    background-size: cover;
  }
  
  .Image
  {
      opacity:0.5;
      width:250px;
      height:100px;
  }
  form {
    margin: auto;
    width: 60%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
  }
  
  input[type="number"], select {
    padding: 8px 8px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
  }
  
  input[type="submit"] {
    background-color: #3497d4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #3497d4;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  .status
{
  color: white;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.prediction{
    color: rgb(117, 212, 238);
    font-size: 24px;
    margin: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
.prediction:before{

    color: #280878;
    margin: 5px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    
}
