body {
    background-image: url(https://poonawallafincorp.com/pfca/assets/blog_banner/blog_banner-pl-technology-desktop.jpg);
    background-size: cover;
  }
  
  .Image
  {
      opacity:0.5;
      width:250px;
      height:100px;
  }
  form {
    margin: auto;
    width: 60%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
  }
